/* VARIABLES */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* general */
$text-theme: #0d47a0
$color-theme: #0d47a0



/* navbar */ 
$background-navbar-logo: #ccc

/* General CSS */
*
    margin: 0
    padding: 0
body 
    font-family: 'Raleway', sans-serif
    background-color: darkgray
h4 
    font-size: 25px
h5
    font-size: 14px
.color-theme 
    background-color: $color-theme
.text-theme
    color: $color-theme

.max-width
    max-width: 1200px

/* Section */
.section-wrapper 
    margin-top: 151.25px
    .view
        width: 100%
        height: 30vh
        h1 
            text-align: center
            margin: auto
            font-size: 40px
.section-img 
    width: 100vw
    height: 100%    
    position: fixed
    object-fit: cover
    overflow: hidden
    z-index: -1
.hr-section-title
    height: 3px
    background-color: $color-theme
    width: 200px
    margin: 10px auto
    transform: skew(33deg)
.section-content
    background-color: lighten($color-theme,60% )
    .content-wrapper 
        max-width: 1000px
        margin: auto
        padding: 60px 40px
        p 
            color: #263238
            text-align: justify
.content-h2
    font-size: 30px
    font-weight: bold
    padding: 30px 0


/* Logo */  
.bg-logo
    background-color: $background-navbar-logo

/* Navbar */
header 
    background-color: $color-theme  
.navbar 
    background-color: $color-theme
    padding: 20px
    .social-icons
        padding: 0 auto !important
.navbar-nav 
    height: 60vh

@media screen and (min-width: 768px)
    .navbar
        padding: 0
    .navbar-nav 
        height: auto
    .nav-item
        margin: auto
@media screen and (min-width: 1024px)
    .navbar
        padding: 0
    .nav-item
        width: 160px
        height: 70px
        text-align: center
        font-size: 1em
        margin: auto 0
        display: flex
        align-items: center
        justify-content: center
        &:hover
            background-color: darken($color-theme, 5%)
.active 
    border-bottom: 2px solid #ffffff

/* Button */ 
.btn 
    border-radius: 10px
.btn-theme
    background-color: $color-theme
    color: #ffffff
    &:hover 
        color: #ffffff

/* Index */
.index
    .view, img 
        height: 43vh
    .btn 
        margin-top: 20px   
    img 
        object-fit: cover
.hr-card
    height: 3px
    background-color: $color-theme
    width: 200px
    transform: skew(33deg)
@media screen and (max-width: 576px)
    .index
        margin-top: 154.5px  
        .view , img
            height: 50vh

/* about */
@media screen and (min-width: 769px)
    .about
        .img-title
            position: relative
            top: 0 px
@media screen and (max-width: 768px)
    .about
        .img-title
            position: relative
            top: 0

/* Servicios */
.services 
    .bg-light-blue-1
        background-color: lighten($color-theme,58% )
    .bg-light-blue-2
        background-color: lighten($color-theme,55% )
    .card-title
        padding-top: 10px
        color: $color-theme
        text-align: center
    .responsivo
        img 
            width: 100%
            height: 100%
            object-fit: cover
    .card-text 
        padding: 20px
.fab 
    padding: 20px 0

/* Blog */  
.blog
    .card-body
        padding: 30px
    p 
        padding: 0
    .blog-subtitle
        font-size: 0.8em

    .card-img-top
        height: 200px
        object-fit: cover
.article 
    .content-wrapper
        min-height: 24vh

/* Contacto */ 
#message
    min-height: 200px
    max-height: 200px
@media screen and (min-width: 576px)
    .contact
        .section-img 
            position: absolute
            top: -500px
.contact-information
    height: 65vh
.pregunta-contacto
    font-size: 20px
    font-weight: bold
    text-align: center

/* Footer */
footer 
    .footer-hr 
        height: 3px
        background-color: #ffffff
        width: 200px
        margin: auto
        transform: skew(33deg)
    @media screen and (min-width: 576px)
        .footer-hr 
            margin: 0
    .mensaje 
        font-size: 18px
    .footer-link 
        font-size: 18px
    .fab
        font-size: 40px
