/* VARIABLES */
/* general */
/* navbar */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray-dark;
  max-width: 100vw;
  overflow: hidden;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}

.color-theme {
  background-color: #0d47a1;
}

.text-theme {
  color: #0d47a1 !important;
}

.content hr {
  width: 250px;
  height: 3px;
  background-color: #0d47a1;
  margin: 0 auto 10px 0;
}

/* navbar */
.active {
  border-bottom: 2px solid #ffffff;
}

.nav-link {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.bg-logo {
  background-color: #ccc;
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    height: 74vh;
  }
  .nav-link {
    margin: 10px 20px 0 20px;
  }
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0;
  }
  .nav-link {
    font-size: 20px;
    text-align: center;
  }
  .social-icons {
    padding: 50px 0;
  }
}

/* footer */
footer hr {
  background-color: #fff;
  height: 1px;
}

.btn-theme {
  border-radius: 10px;
  margin-top: 20px;
}

.content {
  max-width: 700px;
}

.view, .view img {
  height: 50vh;
}

.view img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* contacto */
#message {
  max-height: 20vh;
  min-height: 20vh;
}

/* section */
.section-wrapper {
  margin-top: 144px;
}

.section-title {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title h1 {
  color: #ffffff;
  font-size: 50px !important;
  letter-spacing: .1em;
  font-weight: 400;
}

.section-title hr {
  height: 3px;
}

.section-content {
  background-color: #cfd8dc;
  padding: 2em;
}

.section-content p {
  text-align: justify;
}

.rounded {
  border-radius: 10px !important;
}

/* ABOUT */
.about {
  background: url("../img/imagenes/edificio.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -144px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SERVICIOS */
.services {
  background: url("../img/imagenes/welcome.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -144px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* CONTACT */
.contact {
  background: url("../img/imagenes/contacto.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -144px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .pregunta {
  font-size: 20px;
  font-weight: 400;
  color: #37474f;
}

/* BLOG */
.blog {
  background: url("../img/imagenes/blog.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -144px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */